---
import Layout from "../layouts/Layout.astro";
import SearchBox from '../components/SearchBox.astro'
---

<Layout title="Home">
  <main>
    <h1>A simple image search engine</h1>
	<SearchBox/>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    width: 800px;
	margin: auto;
    max-width: calc(100% - 2rem);
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
	text-align: center;
  }
</style>
