h1 {
    font-size: 3em;
    text-align: center;
    margin: 3rem;
}

a {
    text-decoration: none;
    color: #0c3876;
    font-family: 'Product Sans Medium', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.searchArea {
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: white;
    z-index: 999;
}

.imagePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 4rem 0;
}

.imagePage h2 {
    margin-top: 0;
}

@media (max-width: 950px) {
    .imagePage {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0;
    }
}

.imagePage img {
    max-height: 500px;
    max-width: 500px;
    object-fit: contain;
    border-radius: 0.25rem;
}

.imageTags {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 20px;
}

@media (max-width: 950px) {
    .imageTags {
        flex-direction: column;
        gap: 0;
    }

    .imagePage img {
        position: relative;
    }
}

@media (max-width: 480px) {
    .imagePage img {
        margin-top: 20px;
        width: 100%;
        /* max-height: fit-content; */
    }
}